@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
  font-family: "Montserrat";
}

::selection {
  background-color: black;
  color: yellow;
}

.bg-gelap{
  background-color: #131313 !important;
}

.ff-serif{
  font-family: serif;
}

.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 16px;
}

.fs-20{
  font-size: 20px;
}

body a{
  text-decoration: none;
}


nav .logo{
  font-weight: bold;
  
}

.nav-list a{
  color: white;
  position: relative;
}

.nav-list a:before{
  content: '';
  /* width: 100%; */
  width: 0;
  height: 2px;
  background-color: rgb(255, 238, 0);
  position: absolute;
  bottom: -10px;
  transition: all 0.3s ;
}

.nav-list a:hover::before {
  width: 100%;

}

.nav-list a.active:before{
  width: 100%;
}


nav .nav-list button{
  display: none;
}

nav.bg-gelap{
  transition: background-color 1s ease;
}

nav .humberger{
  display: none;
}

nav .humberger button{
  border: 0 ;
  background:none;
  color: yellow;
}

nav .humberger button:hover{
  background-color: white;
  transition: all .3s;
}

.home .hero{
  height: 100vh;
  background-color: #000000;
}

.text-shadow{
  text-shadow: 2px 2px 4px #0000003d;
}

.text-shadow-lg{
  text-shadow: 2px 2px 4px #000000;

}

.home .hero .input-grup input{
  outline: none;
  padding: 10px 50px 10px 15px ;
  font-size: 13px;
  color: rgb(61, 61, 61);
  border-radius: 10px;
}



.home .hero .input-grup button{
  right: 5px;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 8px;
  text-align: center;
  font-size: 12px;
  color: white;
}


.home .hero .desc{
  width: 60%;
}

.home .hero .drop-search{
  top: 95%;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 0;
  z-index: 100;
  max-height: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all .5s;
}

.home .hero .drop-search.active{
  max-height: 200px;
  padding: 20px;
  transition: all .5;
}



.hero .drop-search img{
  max-height: 50px;
}

.home .hero .drop-search::-webkit-scrollbar {
  width: 8px;
}

.home .hero .drop-search::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.home .hero .drop-search::-webkit-scrollbar-thumb {
  background: rgb(87, 87, 87);
  border-radius: 10px;
}

.home .hero .drop-search::-webkit-scrollbar-thumb:hover {
  background: #555;
}




/* popular tour */
.list-popular-tour{
  gap: 25px;
  display: flex;
  justify-content: center;
  /* overflow: visible; */
}

.list-popular-tour .item{
  width: 300px;
  background-color: rgb(0, 0, 0);

  max-width: 60px;
  border-radius: 20px;
  height: 300px;
  transition: all .4s;
  position: relative;
}

.list-popular-tour .item:hover{
  max-width: 300px;
  transition: all .4s;
}

.list-popular-tour .item p{
  margin: auto;
  position: absolute    ;
  bottom: 20px;
  /* height:400px; */
  transition: all .5s;
  writing-mode: vertical-lr;
  transform :rotate( 180deg );
} 

.list-popular-tour .item:hover p{
  transform :rotate( 0 );
  writing-mode: horizontal-tb;
  left: 20px;
  transition: all .5s;
}




/* about */

.about{
  margin-top: 150px;
}
.about .image{
  height: 500px;
  overflow: hidden;
}

.about a, .home .destinasi .more{
  color: white;
  background-color: rgb(255, 191, 0);
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
}

.about a:hover, .home .destinasi .more:hover{
  background-color: rgb(255, 123, 0);
  transition: all .4s;
}








/* home - destinasi */
.home .destinasi{
  margin-top: 100px;

}


.home .destinasi .card-destinasi .image{
  overflow: hidden;
  height: 200px;
  position: relative;
}

.home .destinasi .card-destinasi .image::before{
  content: 'Lihat Detail';
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  background-color: #00000095;
  position: absolute;
}


.home .destinasi .card-destinasi img{
  transition: all .4s;

}

.home .destinasi .card-destinasi:hover img{
  transform: scale(1.2);
  transition: all .4s;
}

.home .destinasi .card-destinasi:hover .image::before{
  opacity: 1;
  z-index: 100;
}


/* gallery */
.home .gallery{
  margin-top: 130px;
}


/* contact */
.contact form input{
  outline: none;
  padding:10px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid black;
}
.berita .carousel-news{
  padding-left: 70px;
  overflow-x: auto;
  gap: 20px;
  -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
}

.berita .news-card{
  width: 400px;
  flex: 0 0 auto;
}


.skeleton-loading {
  background-color: #c6c6c6;
  /* Warna latar belakang */
  animation: skeleton-loading 1s infinite alternate;
  /* Animasi loading */
}




@keyframes skeleton-loading {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}



/* footer */
footer .sosmed a{
  color: black;
  background-color: yellow;
  padding: 5px 10px;
  border-radius: 50%;
}


/* sub header */
.sub-header{
  height: 350px;
  background-image: url("/img/5.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.sub-header .card-header{
  bottom: -30px;
  width: 400px;
  right: 80px;
}


/* framr motion */
.progress-bar-top {
  position: fixed;
  z-index: 100;
  top: 85px;
  left: 0;
  right: 0;
  height: 5px;
  background: rgba(255, 255, 0, 0.594);
  transform-origin: 0%;
}







/* about page */

/* sub header */
.sub-header{
  height: 350px;
  background-image: url("/img/5.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.sub-header .card-header{
  bottom: -30px;
  width: 400px;
  right: 80px;
}

.about-page h2{
  position: relative;
}

.about-page h2::after{
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  background-color: yellow;
  left: 0;
  bottom: -10px;

}

.about-page .desc{
  width: 500px;
  bottom: -10px;
  right: 40px;
  /* border: 1px solid black; */
  
}












/* tablet */
@media screen and (max-width: 884px) {
  .home .hero video{
    height: 100% !important;
    width: auto !important;
  }

    .about-page .desc {
      right: 10px;
      width: 400px;
    }

}








/* mobile */
@media screen and (max-width: 700px){


  .about-page .quotes{
    height: 250px !important;
  }

  .about-page .desc {
    right: 50%;
    transform: translateX(50%);
    width: 100%;
  }
  .sub-header{
    height: 250px;
  }

  .sub-header .card-header {
    width: 200px;
    padding: 20px !important;
    font-size: 12px;
    right: 15px;
    bottom: -50px;
  }
  .progress-bar-top {
    top: 73px;

  }


  nav .nav-list button{
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: 0;
    font-size: 20px;
    display: block;
    transition: all .3s;
  }

  nav .nav-list button:hover{
    background-color: yellow;
    transform: scale(1.2);
    transition: all .3s;
  }

  nav .nav-list{
    background-color:rgb(255, 255, 255);
    filter: blur(0.1px);
    position: absolute  ;
    right: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    padding: 0 !important;
    padding-top: 0 !important;
    justify-content: center;
    align-items: center;
    top: 0;
    transform: translateX(1000px);
    transition: all 1s;
    
  }
  
  nav .nav-list.active{
    transform: translateX(0);
  }
  
  nav .nav-list ul{
    width: 100%;

  }

  nav .nav-list ul li{
    display: block !important;
    text-align: center;
    margin: 0 !important;
    /* background-color: blue; */
    /* padding: 20px; */
  }

  nav .nav-list ul li:hover{
    background-color: rgb(194, 194, 194);
    transition: all .3s;
  }

  nav .nav-list ul li a{
    color: rgb(71, 71, 71) !important;
    text-align: center;
    /* width: 100%; */
    /* background-color: aqua; */
    display: block !important;
    text-align: center;
    padding: 20px;
  }

    nav .nav-list ul li a::before{
      display: none !important;
    }
  nav .humberger{
    display: block;
  }

  .home .hero .desc {
    width: 100%;
  }

  .list-popular-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .list-popular-tour .item{
    max-width: none;
    width: auto;
    height: 200px;
  }

  .list-popular-tour .item p {
    writing-mode: horizontal-tb;
    transform: rotate(0);
    padding: 0 20px;
  }

  .list-popular-tour .item:hover p {
    left: 0;
    transform: scale(1.2);
  }


  .about {
    margin-top: 50px;
  }

  .about .image {
    height: 400px;
  }

  .about   .desc{
    margin-top: 30px;
    padding: 20px;
  }

  .about h2, .home .destinasi h2{
    font-size: 25px !important;
  }
  .about h1, .home .destinasi h1{
    font-size: 50px  !important;
  }

  .home .gallery .first-image {
    height: auto !important;
  }

  .berita .carousel-news {
    padding-left: 20px;
    padding-right: 20px;
  }

  .berita .news-card {
    width: 100%;
  }


  
}