@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
  font-family: "Poppins";
}

body a{
  text-decoration: none;
}

nav .logo{
  font-weight: bold;
  
}

.nav-list a{
  color: white;
  position: relative;
}

.nav-list a:before{
  content: '';
  /* width: 100%; */
  width: 0;
  height: 2px;
  background-color: rgb(255, 238, 0);
  position: absolute;
  bottom: -10px;
  transition: all 0.3s ;
}

.nav-list a:hover::before {
  width: 100%;

}


nav .nav-list button{
  display: none;
}

nav .humberger{
  display: none;
}

nav .humberger button{
  border: 0 ;
  background:none;
  color: yellow;
}

nav .humberger button:hover{
  background-color: white;
  transition: all .3s;
}

.home .hero{
  height: 100vh;
}

.text-shadow{
  text-shadow: 2px 2px 4px #0000003d;
}

.home .hero .input-grup input{
  outline: none;
  padding: 10px 50px 10px 15px ;
  font-size: 13px;
  color: rgb(61, 61, 61);
  border-radius: 10px;
}



.home .hero .input-grup button{
  right: 5px;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 8px;
  text-align: center;
  font-size: 12px;
  color: white;
}


.home .hero .desc{
  width: 60%;
}



@media screen and (max-width: 700px){
  .home .hero video{
    height: 100% !important;
    width: auto !important;
  }

  nav .nav-list button{
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: 0;
    font-size: 20px;
    display: block;
    transition: all .3s;
  }

  nav .nav-list button:hover{
    background-color: yellow;
    transform: scale(1.2);
    transition: all .3s;
  }

  nav .nav-list{
    background-color:rgba(255, 255, 255, 0.872);
    filter: blur(0.1px);
    position: absolute  ;
    right: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    padding: 0 !important;
    padding-top: 0 !important;
    justify-content: center;
    align-items: center;
    top: 0;
    transform: translateX(1000px);
    transition: all 1s;
    
  }
  
  nav .nav-list.active{
    transform: translateX(0);
  }
  
  nav .nav-list ul{
    width: 100%;

  }

  nav .nav-list ul li{
    display: block !important;
    text-align: center;
    margin: 0 !important;
    /* background-color: blue; */
    /* padding: 20px; */
  }

  nav .nav-list ul li:hover{
    background-color: rgb(194, 194, 194);
    transition: all .3s;
  }

  nav .nav-list ul li a{
    color: rgb(71, 71, 71) !important;
    text-align: center;
    /* width: 100%; */
    /* background-color: aqua; */
    display: block !important;
    text-align: center;
    padding: 20px;
  }

    nav .nav-list ul li a::before{
      display: none !important;
    }
  nav .humberger{
    display: block;
  }

  .home .hero .desc {
    width: 100%;
  }
  
}